

.grid {
    background-color: rgb(234, 233, 241);
}

.item {
    background-color: rgb(180, 178, 189);
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #34343d;
}


.closing-tag {
    position: absolute;
    top: 0px;
    right: 5px;
}

.closing-tag:hover {
    cursor: pointer;
}
